
.table > :not(caption) > * > th{
    background-color: lightgray;
}

.expand{
    width: 55%;
}



.fixed-header thead th { /* the thead selector is required because there are th elements in the body */
    position: sticky;
    top:0;
    z-index: 10;
  }

.infoTable 
{
    display: block;
    width: 70% !important;
    margin:auto ;
    margin-top: 70px;
    border-top:20px ;
    overflow: scroll;  
}

.view-info {
 width: 100px !important;
 padding: 8px !important;
}

.numId
{
    width: 15px !important;
    padding: 8px !important;
}

.filing-date
{
    width: 130px !important;
    padding: 8px !important;
}

.form-type
{
    width: 100px !important;
    padding: 8px !important;
}

.table-container
{
    display: block;
    width:100%;
    margin: auto;
}

tr 
{
    width:100%;
}

.info
{
    display: block;
    text-decoration: underline;
    color: blue;
    width:100px;
    padding-left: 8px ;
    padding-right: 8px;

}

.info:hover{
    cursor: pointer;
}