.table > :not(caption) > * > th{
    background-color: lightgray;
}


#infoTable 
{
    margin-top: 2%;
}

.table
{
    margin-top: 20px;
    margin: auto;
    height: 50px;
    overflow: scroll;
}

.table-container
{
   height: 800px;
   background-color: black;
   overflow: scroll;
}

body{
    margin: 20px;
}

.info
{
    text-decoration: underline;
    color: blue;
    display: inline-block;
}

.info:hover{
    cursor: pointer;
}