
.table > :not(caption) > * > th{
    background-color: lightgray;
}

.fixed-header thead th { /* the thead selector is required because there are th elements in the body */
    position: sticky;
    top: 0;
    z-index: 10;
  }

.infoTable 
{
    display: block;
    max-height: 200px;
    margin-top: 70px;
    border-top:20px ;
    overflow: scroll;
}

.table-container
{
   background-color: black;
   overflow: scroll;
}

body{
    margin: 20px;
}

.info
{
    text-decoration: underline;
    color: blue;
    display: inline-block;
}

.info:hover{
    cursor: pointer;
}