.suggestion
{
    background-color: lightgray;
    color: white;
    width:  15rem;
    overflow:hidden;
    height: 5%; 
    width:100%;
}


.suggestion:hover{
    background-color: gray;
    cursor: pointer;
}


.suggestions
{
    height: 10%;
    overflow: scroll;   
}

