.suggestion
{
    background-color: lightgray !important;
    color: white;
    width:  15rem;
    overflow:hidden;
    height: 5%; 
    width:95%;
    padding: 0px;
}


.suggestion:hover{
    background-color: gray;
    cursor: pointer;
}


.suggestions
{
    height: 10%;
    overflow: scroll;  
    z-index: 10; 
}

