.suggestion
{
    background-color: lightgray !important;
    color: white !important;
    width: inherit;
    padding: inherit;
    overflow: hidden; 
    height: 40px;
    padding: 0px;
  
}


.suggestion:hover{
    background-color: gray ;
    cursor: pointer;
}


.suggestions
{
    /* margin-top: -17px; */
    max-width: 720px;
    width: 25%;
    max-height: 160px;
    overflow: scroll;  
    position: absolute !important;
    z-index: 10;
}

